@model IEnumerable<EBankingProject.Models.RequestofChequeBook>
@{
    ViewBag.Title = "RequestforChequeBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4 class="mt-3">Request for ChequeBook</h4>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReqCheqid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.LeavesofCheque)
        </th>

        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReqCheqid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.LeavesofCheque)
            </td>

            


        </tr>
    }

</table>

